*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: gold;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary {
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 44px 20px;
  overflow: hidden;
  position: relative;
}
.primary::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-image: url(../img/toxir.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 0 10px 50%;
  transform: translateX(-50%);
  box-shadow: 0 0 30px #fff;
}

.name {
  color: red;
  margin-bottom: 5px;
  text-shadow: -2px 1px #000;
}

.job {
  color: red;
  font-weight: bold;
  text-shadow: -1.5px 1px #000;
}

.btn {
  width: 44px;
  height: 40px;
  border: none;
  border-top-left-radius: 20px;
  cursor: pointer;
  outline: none;
  position: absolute;
  bottom: 0;
  right: 0;
}
.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.btn:hover::after {
  -webkit-animation: btn 0.7s infinite;
          animation: btn 0.7s infinite;
}
.btn--arrow {
  transition: transform 1s;
}
.btn--arrow-transform {
  transform: translate(100%, 100%);
}
.btn--arrow:hover .btn--arrow-icon {
  color: #fd940b;
  transition: all 0.4s;
}
.btn--arrow-icon {
  color: red;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
}
.btn--x:hover .btn--x-icon {
  color: red;
  transition: all 0.3s;
}
.btn--x-icon {
  color: #fd940b;
  width: 15px;
  height: 15px;
}

.secondary {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  overflow: hidden;
  background-color: red;
  padding: 10px 0 10px 10px;
  transform: translate(-75%, -96%) rotate(90deg);
  transition: transform 1s;
}
.secondary-transform {
  transform: translate(0%, 0%) rotate(0deg);
  transition: all 1s;
}

.h4 {
  color: #fd940b;
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
  text-shadow: -0.5px 0.5px #fff;
}
.h4--skills {
  padding-bottom: 10px;
  text-align: start;
  border-bottom: 1px solid #fd940b;
}

.box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.box__list {
  list-style: none;
  margin-bottom: 10px;
  margin-right: 10px;
}
.box__link {
  display: inline-block;
  text-decoration: none;
  border: 1px solid #fd940b;
  padding: 5px 10px;
  font-weight: bold;
  color: #fd940b;
  text-shadow: -1px 0.5px #000;
  transition: all 0.4s;
  position: relative;
}
.box__link:hover {
  background-color: gold;
  color: red;
}
.box__link:active {
  background-color: green;
  transform: scale(0.5);
  transition: transform 0.1s;
}
.box__link::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: inherit;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.box__link:hover::after {
  -webkit-animation: btn 0.7s infinite;
          animation: btn 0.7s infinite;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.img__list {
  list-style: none;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-decoration: none;
}
.img__list:not(:first-child) {
  margin-left: 20px;
}
.img__icon {
  width: 20px;
  height: 20px;
  color: #fd940b;
  transition: all 0.3s;
}
.img__icon:hover {
  color: #fff;
}

@-webkit-keyframes btn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes btn {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}/*# sourceMappingURL=main.css.map */